/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
/*body {
  background: url('post_it.jpg')
  color: pink;
}*/
tbody {
  background-color: pink;

}
table {
  border: 2px solid gray;
}
